* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  font-size: 21px;
  font-family: 'Catamaran';
  font-weight: bold;
}

a {
  text-decoration: none;
}

body {
  background-color: #ACACAC;
}
body .app-container {
  display: grid;
  grid-template-columns: auto auto auto;
  max-width: 414px;
  background-color: white;
  margin: 6%;
  border-radius: 20px;
  height: 94vh;
}
body .app-container .mid {
  grid-column: 1/4;
  margin: auto;
}
body .app-container .mid svg {
  width: 100px;
  height: auto;
  fill: #FF9300;
}
body .app-container .topright a {
  float: right;
}
body .app-container .bottomright a {
  float: right;
}

svg {
  width: 20px;
  height: auto;
  margin: 15px;
}
