* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  font-size: 21px;
  font-family: 'Catamaran';
  font-weight: bold;
  color: #2C334E;
}

a {
  text-decoration: none;
}

body {
  background-color: #ACACAC;
}
body .app-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 50px auto 50px;
  max-width: 414px;
  background-color: white;
  margin: 6%;
  border-radius: 20px;
  height: 94vh;
  -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
}
body .app-container .mid {
  grid-column: 1/4;
  margin: auto;
}
body .app-container .mid svg {
  width: 100px;
  height: auto;
  fill: #FF9300;
}
body .app-container .topright a {
  float: right;
}
body .app-container .bottomright {
  position: relative;
}
body .app-container .bottomright a svg {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
body .app-container .bottomleft {
  position: relative;
}
body .app-container .bottomleft a svg {
  position: absolute;
  bottom: 0px;
}

svg {
  width: 20px;
  height: auto;
  margin: 15px;
  fill: #808080;
}

.lbmid {
  grid-column: 1/4;
  margin: auto;
}
.lbmid img {
  width: 300px;
  height: auto;
  margin: auto;
}
.lbmid svg {
  width: 20px;
  height: auto;
  float: right;
  margin: 15px;
  fill: #FF9300;
}

.bottommid {
  position: relative;
}
.bottommid svg {
  position: absolute;
  bottom: 0px;
}

.soundmid {
  grid-column: 1/4;
  margin: auto;
}
.soundmid img {
  width: 300px;
  height: auto;
  margin: auto;
}
.soundmid svg {
  width: 20px;
  height: auto;
  fill: #FF9300;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.soundmid p {
  text-align: center;
}
