* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  font-size: 21px;
  font-family: 'Catamaran';
  font-weight: bold;
  color: #2C334E;
}

a {
  text-decoration: none;
}

body {
  background-color: #ACACAC;
}
body .app-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 50px auto 50px;
  max-width: 414px;
  background-color: white;
  margin: 6%;
  border-radius: 20px;
  height: 94vh;
  -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
}
body .app-container .mid {
  grid-column: 1/4;
  margin: auto;
}
body .app-container .mid svg {
  width: 100px;
  height: auto;
  fill: #FF9300;
}
body .app-container .topright a {
  float: right;
}
body .app-container .bottomright {
  position: relative;
}
body .app-container .bottomright a svg {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
body .app-container .bottomleft {
  position: relative;
}
body .app-container .bottomleft a svg {
  position: absolute;
  bottom: 0px;
}

svg {
  width: 20px;
  height: auto;
  margin: 15px;
  fill: #808080;
}

.lbmid {
  grid-column: 1/4;
  margin: auto;
}
.lbmid img {
  width: 300px;
  height: auto;
  margin: auto;
}
.lbmid svg {
  width: 20px;
  height: auto;
  float: right;
  margin: 15px;
  fill: #FF9300;
}

.soundmid {
  grid-column: 1/4;
  margin: auto;
}
.soundmid img {
  width: 300px;
  height: auto;
  margin: auto;
}
.soundmid svg {
  width: 20px;
  height: auto;
  fill: #FF9300;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.soundmid p {
  text-align: center;
}

.bottommid {
  position: relative;
  background-color: red;
}
.bottommid svg {
  position: absolute;
  bottom: 0px;
}

.topleft_4 {
  display: none;
}

#cambody {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#camera, #camera--view, #camera--sensor, #camera--output {
  position: fixed;
  height: 50%;
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}

#camera--view, #camera--sensor, #camera--output {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  -webkit-filter: FlipH;
          filter: FlipH;
}

.triggercontainer {
  width: 100%;
  height: 120px;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  bottom: 0px;
  z-index: 1;
}
.triggercontainer #camera--trigger {
  background-color: black;
  fill: white;
  border-radius: 100px;
  border: 3px solid white;
  padding: 15px 20px;
  text-align: center;
  position: fixed;
  bottom: 5%;
  left: calc(50%);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
}
.triggercontainer svg {
  width: 30px;
  height: auto;
  margin: 0px;
  z-index: 10;
  fill: white;
}
.triggercontainer .botleft {
  position: fixed;
  font-size: 40px;
  font-weight: bold;
  color: #808080;
  bottom: 0px;
  z-index: 20;
  margin: 5px 10px;
}
.triggercontainer .botright {
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 20;
  margin: 10px 10px;
}
.triggercontainer .botright svg {
  fill: #808080;
}

.taken {
  height: 100px !important;
  width: 100px !important;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  border: solid 3px white;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  top: 20px;
  right: 20px;
  z-index: 2;
}

.topbar {
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0px;
  z-index: 1;
}
.topbar .right {
  float: right;
}
