body {
        background-color: $background;

        .app-container{
                display: grid;
                grid-template-columns: auto auto auto;
                max-width: 414px;
                background-color: white;
                margin: 6%;
                border-radius: 20px;
                height: 94vh;

                .mid {
                        grid-column: 1/4;
                        margin: auto;
                        img {
                                width: 100px;
                                height: auto;
                                fill: $orange;
                        }
                }

                .topright {
                        img{
                                float: right;
                        }
                }

                .bottomright {
                        img{
                                float: right;
                        }
                }
        }
}

img {
        width: 20px;
        height: auto;
        margin: 15px;
}

svg {
        width: 20px;
        height: auto;
        margin: 15px;
}
