* {
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
}

p {
        font-size: 21px;
        font-family: 'Catamaran';
        font-weight: bold;
        color: $picon;

}

a {
        text-decoration: none;
        font-family: 'Catamaran'
}
